body {
    padding: 0;
    margin: 0;
    background-color: aliceblue !important;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    ;
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    z-index: auto;
}

#bigcontainer {
    min-height: 100vh;
}

div {
    padding: 0%;
}

::-webkit-scrollbar {
    background: #9bc6ff;
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #212529;
}

#middle-col,
#left-col,
#right-col {

    height: 45em;
}



#space-middle-col-top {
    height: 5em;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mrs Saint Delafield";
    font-weight: 400;
    font-style: normal;
    font-size: max(20vw);
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

#description {
    height: 15em;
    text-decoration: underline;
    text-decoration-color: #9a9a9a;

}

#buttonsrow {
    height: 5em;
    margin-bottom: 5em;
}

.buttonsbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em
}


#book-a-table {


    float: left;
    width: 100%;
}

.book-a-table p {
    color: #9a9a9a;
}

.try-center {
    display: flex;
    align-items: center;
    justify-content: center;

}

#form-spacer {
    height: 2em;
}

.btn-hover {
    cursor: pointer;
    border: 2px solid #212529;
    position: relative;
    background-color: transparent;
    display: table;
    height: 2em;
    width: 4.6em;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-hover::before,
.btn-hover::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 4px;

    transform: skewX(50deg);
    transition: 0.5s cubic-bezier(0.75, 0.82, 0.165, 1);
}

.btn-hover::before {
    top: -2px;
    left: 10%;
    background-color: aliceblue;
}

.btn-hover::after {
    bottom: -2px;
    right: 10%;
    background-color: aliceblue;
}

.btn-hover:hover::before {
    left: 75%;
    height: 0px;

}

.btn-hover:hover::after {
    right: 75%;
    height: 0px;
}

.btn-hover:hover {
    color: white;
    background-color: #212529;
    text-decoration: none;

    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.linktext {
    color: #212529;
    text-decoration: none;
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding-top: 0.2em;
    font-stretch: expanded;
}

#footer {
    background-color: #212529;
    padding: 3em;
    width: 100vw;
    margin-top: auto;
    bottom: 0;
}

#menu {
    position: relative;
    height: 17em;
    z-index: auto;
    overflow-y: auto;

}



.img {
    width: 12em;
    height: 12em;
    border: 2px solid #212529;

}

.hoverimg {
    position: absolute;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 12em;
    width: 12em;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.hoverimg:hover {

    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);

}

#reserve {
    text-decoration: underline;
}