body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#middle-col,#left-col,#right-col{
    background-color: bisque;
    height: 100vh;
}
.col,.row{
    border: 2px solid black;
   
}
#space-middle-col-top{
    height: 5em;
}
#name{
    height: 8em;
}
#description{
    height: 17em;
}
#buttons{
    height: 5em;
}
