body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.middle-col,.left-col,.right-col{
    
    height: 100vh;
}
.col,.row{
    border: 2px solid black;
    background-color: bisque;
}
#named,#description{
    
    justify-content: center;
    align-items: center;
}